@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #d9dde8;
    font-size: 13px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#grid-container{
    width: 960px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height:fit-content;
    padding-bottom: 20px;
    }
    .griditem{
        padding: 20px;
        border-radius: 5px;
        box-shadow: 20px 30px 50px #cfcfcf;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        line-height: 15px;
    }
    .header{
        display: flex;
        gap: 10px;
        font-size: 13px;
        align-items: center;
    }
    img{
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid;
    }
    .name{
        font-weight: 500;
    }
    .title{
        font-size: 12px;
    }
    .mike{
        font-weight: 600;
        margin-block: 10px;
    }
    .mike1{
        font-size: 12px;
    }
    .griditem:first-of-type{
        background-image: url("../images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: top right 40px;
        background-size: 95px;
        background-color: #5e3a9e;
        grid-column: 1/3;
    }
    .griditem:first-of-type img{
        border-color: #bba8e5;
    }
    .griditem:nth-of-type(2){
    background-color: #3f4a57;
    }
    .griditem:nth-of-type(2) img{
        border-color: #cfcfcf;
    }
    .griditem:nth-of-type(3){
        background-color: #fff;
        color: #111;
    }
    .griditem:nth-of-type(3) img{
        border-color: #e7eaee;
    }
    .griditem:nth-of-type(3) img{
        border-color: #cfcfcf;
    }
    .griditem:nth-of-type(4){
        background-color: #111;
        grid-column: 2/4;
    }
    .griditem:nth-of-type(4) img{
        border-color: #5e3a9e;
    }
    .griditem:last-of-type(5){
        background-color: #fff;
        color: #3f5a57;
        grid-row: 1/3;
        grid-column: 4;
    }
    .griditem:last-of-type img{
        border-color: #cfcfcf;
    }
    .footer{
      text-align: center;
      font-size: 15px;
      color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    padding: 10px 0;
    
 } 

 @media (max-width: 600px){
    #grid-container{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .griditem{
        grid-column: auto;
    }
    .griditem:first-of-type,
    .griditem:nth-of-type(4){
        grid-column: auto;
    }
    .griditem:last-of-type{
        grid-row: auto;
        grid-column: auto;
    }
 }